@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;400&family=Nunito:wght@200;700&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #150f24;
  width: auto;
  min-height: 100vh;
  font-family: "Fredoka One", cursive;
  font-size: 21px;
}

#container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.decifrador {
  width: 50%;
  height: 65%;
  background: #693fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#teste {
  display: flex;
  flex-direction: column;
}

.formulario-escolha {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#codificar,
#decodificar {
  margin-right: 15px;
  margin-top: 18px;
  font-size: 26px;
}

label {
  font-size: 20px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

#escolherCesar input, #escolherBase64 input {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

#escolherBase64 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#forma-decifrar {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: bold;
}

#escolherCesar {
  text-align: center;
  display: flex;
  flex-direction: column;
}



#mensagemResultado {
  display: flex;
  flex-direction: column;
}

#mensagemResultado input {
  padding: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
}


#naoEscolheu{
  margin-top: 10px;
}